name: Android CI

on:
  [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'        
        
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    
    - name: Build with Gradle
      run: ./gradlew build
    
    - name: Run Tests
      run : ./gradlew  test
      
    - name: Run Unit-Tests
      run: chmod +x ./app/src/test/java/com/plandora/models/*

    - name: Build Project
      run: ./gradlew assemble
